<footer class="col-12 d-flex flex-row justify-content-center align-items-center">
  <div class="contact-social">
    <ul>
      <li><a class="hover-target" href="https://www.facebook.com/profile.php?id=100004164544087"><i class="fab fa-facebook-f"></i></a></li>
      <li><a class="hover-target" href="https://www.linkedin.com/in/rowan-tamer-5456391a9/"><i class="fab fa-linkedin-in"></i></a></li>
      <li><a class="hover-target" href="https://github.com/rowantamer"><i class="fab fa-github"></i></a></li>
    </ul>
  </div>
</footer>
